@page "/"
@using TicTacToeBlazorProject.Shared
@inject NavigationManager NavigationManager
@rendermode @(new InteractiveWebAssemblyRenderMode(false))

<h3>Lobby</h3>

<input @bind="_playerName" placeholder="Player Name"/>
<input @bind="_currentRoomName" placeholder="Room Name"/>
<button @onclick="CreateRoom"> Create Room </button>

@code {
    private HubConnection? _hubConnection;
    private string _playerName = string.Empty;
    private string _currentRoomName = string.Empty;
    private GameRoom? _currentRoom;
    private List<GameRoom> rooms = new();

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/gamehub"))
            .Build();

        _hubConnection.On<List<GameRoom>>("Rooms", (roomsList) =>
        {
            Console.WriteLine($"Rooms. Count = {roomsList.Count}");

        });

        await _hubConnection.StartAsync();
    }


    private async Task CreateRoom()
    {
        if (_hubConnection is null) return;

        _currentRoom = await _hubConnection
        .InvokeAsync<GameRoom>("CreateRoom",
        _currentRoomName,
        _playerName);
    }
}
